@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
    src:url('../font/NeueHaasUnicaPro-Regular.ttf') ;
    font-family: neuehaasunica;
}

@font-face {
    src:url('../font/NeueHaasUnicaPro-Bold.ttf') ;
    font-family: neuehaasunicabold;
}

@font-face {
    src:url('../font/SchnyderMLight.ttf') ;
    font-family: sl;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background: black;
}

header {
    height: 100%;
    position: relative;
    display: flex;
}

.cover {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: top;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.hide-cover-text {
    width: 60%;
    position: relative;
    z-index: 2;
    color: white;
    font-family: 'Anton', sans-serif;
    opacity: 0;
    pointer-events: none;
    display: none;
}

.hide-cover-text :nth-child(1) {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 10em;
}

.hide-cover-text :nth-child(2) {
    position: absolute;
    left: 5%;
    top: 30%;
    font-size: 10em;
}

.hide-cover-text :nth-child(3) {
    position: absolute;
    right: 5%;
    top: 70%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

.hide-cover-text :nth-child(4) {
    width: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
}

.hide-cover-text :nth-child(5) {
    width: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
}

.cover-date {
    position: absolute;
    left: 10%;
    bottom: 10%;
    color: white;
    opacity: 0.7;
}

nav {
    background: white;
    z-index: 2;
    width: 40%;
    height: 20%;
    color: #2F4F4F;
}

.nav-closed {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 40%;
    position: absolute;
    font-family: neuehaasunica;
}

.nav-closed ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
}

.nav-closed ul li:hover {
    color: black;
}


.nav-open {
    position: absolute;
    width: 40%;
    height: 80%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    pointer-events: none;
}

.about h2 {
    font-size: 50px;
    font-family: sl;
    color: black;
}

.about ul li {
    padding-bottom: 10px;
    font-family: neuehaasunica;
}

.about ul {
    list-style: none;
}

.about ul li a {
    text-decoration: none;
    color: #2F4F4F	;
}

.about-box-title :nth-child(2) span {
    padding-left: 20%;
}

.nav-images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-images img {
    height: 300px;
    cursor: pointer;
}

.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
}


.intro-text {
    color: lightgoldenrodyellow;
    font-size: 3rem;
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}

.second-part {
    height: 100vh;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

section {
    height: 100vh;
    text-align: center;
}

.box {
    background: red;
    width: 200px;
    height: 200px;
}